<div class="card shadow-2-strong mb-2" style="border-radius: .5rem;">
    <div class="card-body p-3 text-center">
        <div class="row">
            <div class="col-sm-6 text-start">
                <p class="fw-bold">Nombre de la cooperativa</p>
                <p>Nombre de la cooperativa</p>
                <p>Nombre de la cooperativa</p>
            </div>
            <div class="col-sm-6">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto text-end">
                        <button [routerLink]="['/escogerAsiento']" class="btn button-primary btn-lg btn-block">
                            <i class="bi bi-ticket-fill"></i> Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>