<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: .8rem;">
                    <div class="card-body p-5 text-center">
                        <div><i class="bi bi-diamond-fill color-primary" style="font-size: 60px"></i></div>
                        <h3 class="mb-5">Iniciar Sesión</h3>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label text-start">Cédula</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="cedula" [minLength]="10" type="text" value="" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-3 col-form-label text-start">Contraseña</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="password" type="password" value="" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <a [routerLink]="['/crearCuenta']" class="text-decoration-none">Crear Cuenta</a>
                            </div>
                        </div>
                        <button (click)="iniciarSesion()" class="btn button-primary" type="submit">Iniciar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>