<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: .8rem;">
          <div class="card-body px-5 text-center">
            <div><i class="bi bi-diamond-fill color-primary" style="font-size: 60px"></i></div>
            <h3 class="mb-5">Actualizar Cooperativa</h3>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label text-start">Nombre</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-3 col-form-label text-start">Teléfono</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label text-start">Ciudad matriz</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-3 col-form-label text-start">Dirección matriz</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-6">
                <a [routerLink]="['/inicioSesion']" class="btn button-cancel btn-lg btn-block" >Cancelar</a>
              </div>
              <div class="col-sm-6">
                <button class="btn button-primary btn-lg btn-block" type="submit">Actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

