<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 text-center">
            <h3 class="my-2">Compra de pasajes</h3>
            <div class="row">
                <div class="col">
                    <div class="row mb-3">
                        <div class="card shadow-2-strong mb-2"
                            style="border-radius: .5rem; background-image: url('assets/backbus.png'); background-repeat: no-repeat; background-position-x: center; padding: 90px 0; ">
                            <div class="card-body p-3 pb-5 text-center">
                                <div class="row" *ngFor="let asiento of longitud; let i = index">
                                    <div class="col"
                                        *ngFor="let item of viaje.asientos.slice(i*4,i*4+4); let j = index">
                                        <app-silla [asiento]="viaje.asientos[i*4+j]" [disabled]="true">
                                        </app-silla>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-7">
                            <div class="card shadow-2-strong mb-2" style="border-radius: .5rem;">
                                <div class="card-body p-3 text-center">
                                    <div class="row">

                                        <div *ngIf="cardNumberGroup" class="col text-start">
                                            <!--<form [formGroup]="form">
                                                <div>
                                                  <label for="card-number">Card Number</label>
                                                  <input id="card-number" formControlName="cardNumber" jstCardNumber ngDefaultControl />
                                                </div>
                                              
                                                <div>
                                                  <label for="card-date">Card Date</label>
                                                  <input id="card-date" formControlName="cardValidate" jstCardExpireDate ngDefaultControl />
                                                </div>
                                              
                                                <div>
                                                  <label for="card-cvv">Card CVV</label>
                                                  <input id="card-cvv" formControlName="cardCvc" jstCardCvv ngDefaultControl />
                                                </div>
                                              </form>-->
                                            <form [formGroup]="cardNumberGroup">
                                                <input class="form-control" formControlName="cardNumber"
                                                    [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
                                                    placeholder="Card Number">
                                                <div *ngIf="cardNumberGroup.get('cardNumber')">
                                                    <div class="alert alert-warning" role="alert"
                                                        *ngIf="cardNumberGroup.get('cardNumber')?.invalid">
                                                        Número de tarjeta inválido
                                                        <span
                                                            *ngIf="cardNumberGroup.get('cardNumber')?.hasError('required')">Número
                                                            de tarjeta requerido</span>
                                                        <span
                                                            *ngIf="cardNumberGroup.get('cardNumber')?.hasError('minLength')">Mínimo
                                                            de 3 caracteres</span>
                                                    </div>
                                                    <div class="alert alert-success" role="alert"
                                                        *ngIf="cardNumberGroup.get('cardNumber')?.valid">
                                                        Tarjeta válida
                                                    </div>
                                                </div>
                                                <input class="form-control" formControlName="dateCard"
                                                    [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
                                                    placeholder="Fecha expiración">
                                                <div *ngIf="cardNumberGroup.get('dateCard')">
                                                    <div class="alert alert-warning" role="alert"
                                                        *ngIf="cardNumberGroup.get('dateCard')?.invalid">
                                                        Número de tarjeta inválido
                                                        <span
                                                            *ngIf="cardNumberGroup.get('dateCard')?.hasError('required')">Número
                                                            de tarjeta requerido</span>
                                                        <span
                                                            *ngIf="cardNumberGroup.get('dateCard')?.hasError('minLength')">Mínimo
                                                            de 3 caracteres</span>
                                                    </div>
                                                    <div class="alert alert-success" role="alert"
                                                        *ngIf="cardNumberGroup.get('dateCard')?.valid">
                                                        Tarjeta válida
                                                    </div>
                                                </div>
                                                <input class="form-control" formControlName="dateCard"
                                                    [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
                                                    placeholder="CVC">
                                                <div *ngIf="cardNumberGroup.get('dateCard')">
                                                    <div class="alert alert-warning" role="alert"
                                                        *ngIf="cardNumberGroup.get('dateCard')?.invalid">
                                                        Número de tarjeta inválido
                                                        <span
                                                            *ngIf="cardNumberGroup.get('dateCard')?.hasError('required')">Número
                                                            de tarjeta requerido</span>
                                                        <span
                                                            *ngIf="cardNumberGroup.get('dateCard')?.hasError('minLength')">Mínimo
                                                            de 3 caracteres</span>
                                                    </div>
                                                    <div class="alert alert-success" role="alert"
                                                        *ngIf="cardNumberGroup.get('dateCard')?.valid">
                                                        Tarjeta válida
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-2-strong mb-2" style="border-radius: .5rem;">
                                <div class="card-body p-3 text-center">
                                    <div class="col">
                                        <div class="col">
                                            <div class="row mb-3">
                                                <label for="inputEmail3"
                                                    class="col-sm-4 col-form-label">Cantidad</label>
                                                <div class="col-sm-8">
                                                    <input type="number" disabled value="{{seleccionados}}"
                                                        class="form-control" id="inputEmail3">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Precio
                                                    Unitario</label>
                                                <div class="col-sm-8">
                                                    <input type="text" disabled value="$ {{viaje.precio}}"
                                                        class="form-control" id="inputEmail3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row h-100">
                                                <div class="col-sm-12 my-auto text-center">
                                                    <span class="fw-bold">Total: $ {{valorAPagar}}</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card shadow-2-strong mb-2" style="border-radius: .5rem;">
                                <div class="card-body p-3 text-center">
                                    <div class="row">
                                        <div class="col text-start">
                                            <p class="fw-bold">{{viaje.ciudad_origen}}-{{viaje.ciudad_destino}}</p>
                                            <p>{{nombre_cooperativa}}</p>
                                            <p>{{viaje.fecha}} - {{viaje.hora}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-2-strong mb-2" style="border-radius: .5rem;">
                                <div class="card-body p-3 text-center">
                                    <div class="col">
                                        <div class="col">
                                            <div class="row mb-3">
                                                <button (click)="confirmarPago()"
                                                    class="btn button-primary btn-lg btn-block">Confirmar pago</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row h-100">
                                                <div class="col-sm-12 my-auto text-center">
                                                    <button [routerLink]="['/pagarAsiento']"
                                                        class="btn button-cancel btn-lg btn-block">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>